# sshd_config - OpenSSH server configuration# sshd_config - OpenSSH server configuration# sshd_config# sshd_config# sshd_config# sshd_config

# This configuration follows Ubuntu's official security recommendations

# See: https://help.ubuntu.com/community/SSH/OpenSSH/Configuring# This configuration follows Ubuntu's official security recommendations



Include /etc/ssh/sshd_config.d/*.conf# See: https://help.ubuntu.com/community/SSH/OpenSSH/Configuring# This is the sshd server system-wide configuration file. See



# Basic Connection Settings

Port 2222

AddressFamily inet# Include any additional configurations# sshd_config(5) for more information.# This is the sshd server system-wide configuration file. See

Protocol 2

Include /etc/ssh/sshd_config.d/*.conf

# Host Keys - Use modern, secure key types

HostKey /etc/ssh/ssh_host_rsa_key

HostKey /etc/ssh/ssh_host_ecdsa_key

HostKey /etc/ssh/ssh_host_ed25519_key# Basic Connection Settings



# Security: Disable weak algorithmsPort 2222                    # Custom port for security (Ubuntu recommends non-standard ports)# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games# sshd_config(5) for more information.# This is the sshd server system-wide configuration file. See# This is the sshd server system-wide configuration file. See

Ciphers aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr

MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.comAddressFamily inet          # IPv4 only for simplicity

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512

#ListenAddress 0.0.0.0      # Listen on all interfaces# The strategy used for options in the default sshd_config shipped with

# Logging (Ubuntu recommends VERBOSE for security monitoring)

SyslogFacility AUTHProtocol 2                  # SSH protocol version 2 only

LogLevel VERBOSE

# OpenSSH is to specify options with their default value where

# Authentication Settings (Ubuntu's key recommendations)

LoginGraceTime 30# Host Keys - Use modern, secure key types

PermitRootLogin no

StrictModes yesHostKey /etc/ssh/ssh_host_rsa_key# possible, but leave them commented. Uncommented options override the

MaxAuthTries 3

MaxSessions 2HostKey /etc/ssh/ssh_host_ecdsa_key

MaxStartups 2:30:10

HostKey /etc/ssh/ssh_host_ed25519_key# default value.# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games# sshd_config(5) for more information.# sshd_config(5) for more information.

# Disable Password Authentication (Ubuntu: "recommended unless specific reason not to")

PasswordAuthentication no

PermitEmptyPasswords no

ChallengeResponseAuthentication no# Security: Disable weak algorithms



# Public Key Authentication (Ubuntu's recommended method)Ciphers aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr

PubkeyAuthentication yes

AuthorizedKeysFile .ssh/authorized_keysMACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.comInclude /etc/ssh/sshd_config.d/*.conf# The strategy used for options in the default sshd_config shipped with

AuthorizedPrincipalsFile none

AuthorizedKeysCommand noneKexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512

AuthorizedKeysCommandUser nobody



# Disable Forwarding (Ubuntu: "recommended if using SSH keys with specified commands")

AllowTcpForwarding no# Logging (Ubuntu recommends VERBOSE for security monitoring)

X11Forwarding no

AllowStreamLocalForwarding noSyslogFacility AUTHPort 2222# OpenSSH is to specify options with their default value where

GatewayPorts no

PermitTunnel noLogLevel VERBOSE            # Ubuntu: "recommended to log more information"



# Host-based Authentication (disabled for security)AddressFamily inet

HostbasedAuthentication no

IgnoreUserKnownHosts yes# Authentication Settings (Ubuntu's key recommendations)

IgnoreRhosts yes

LoginGraceTime 30           # Ubuntu: "lower login grace time frees up connections"#ListenAddress 0.0.0.0# possible, but leave them commented. Uncommented options override the

# User Access Control (Ubuntu: "significantly improve security")

# Uncomment and customize these lines based on your user requirements:PermitRootLogin no          # Ubuntu: Critical security practice

#AllowUsers username1 username2

#DenyUsers baduser1 baduser2StrictModes yes             # Verify file permissions#ListenAddress ::

#AllowGroups ssh-users

#DenyGroups noshellMaxAuthTries 3              # Limit brute force attempts



# Additional Security SettingsMaxSessions 2               # Limit concurrent sessions per connection# default value.# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games

PermitUserEnvironment no

UsePAM yesMaxStartups 2:30:10         # Ubuntu: "limit pending connections" - start refusing 30% at 2, 100% at 10

UseDNS no

PrintMotd no#HostKey /etc/ssh/ssh_host_rsa_key

PrintLastLog yes

# Disable Password Authentication (Ubuntu: "recommended unless specific reason not to")

# Banner Configuration (Ubuntu: "display banner for legal notices")

# Uncomment to enable login banner:PasswordAuthentication no   # Ubuntu: "massively improves your security"#HostKey /etc/ssh/ssh_host_ecdsa_key

#Banner /etc/issue.net

PermitEmptyPasswords no     # Never allow empty passwords

# Subsystems

Subsystem sftp /usr/lib/openssh/sftp-serverChallengeResponseAuthentication no#HostKey /etc/ssh/ssh_host_ed25519_key



# Client Connection Settings

ClientAliveInterval 300

ClientAliveCountMax 2# Public Key Authentication (Ubuntu's recommended method)Include /etc/ssh/sshd_config.d/*.conf# The strategy used for options in the default sshd_config shipped with# The strategy used for options in the default sshd_config shipped with

TCPKeepAlive yes

PubkeyAuthentication yes

# Compression

Compression delayedAuthorizedKeysFile .ssh/authorized_keys# Ciphers and keying



# Advanced Security FeaturesAuthorizedPrincipalsFile none

VersionAddendum none

DebianBanner noAuthorizedKeysCommand none#RekeyLimit default none

AcceptEnv LANG LC_*

AuthorizedKeysCommandUser nobody



# Disable Forwarding (Ubuntu: "recommended if using SSH keys with specified commands")

AllowTcpForwarding no       # Ubuntu: "gives more options to attacker"# Logging# When systemd socket activation is used (the default), the socket# OpenSSH is to specify options with their default value where# OpenSSH is to specify options with their default value where

X11Forwarding no            # Ubuntu: "disable for additional security"

AllowStreamLocalForwarding no#SyslogFacility AUTH

GatewayPorts no

PermitTunnel no#LogLevel INFO# configuration must be re-generated after changing Port, AddressFamily, or



# Host-based Authentication (disabled for security)

HostbasedAuthentication no

IgnoreUserKnownHosts yes# Authentication:# ListenAddress.# possible, but leave them commented. Uncommented options override the# possible, but leave them commented. Uncommented options override the

IgnoreRhosts yes

LoginGraceTime 1m

# User Access Control (Ubuntu: "significantly improve security")

# Uncomment and customize these lines based on your user requirements:PermitRootLogin no#

#AllowUsers username1 username2     # Ubuntu: "allow only specific users"

#DenyUsers baduser1 baduser2        # Ubuntu: "deny specific users"StrictModes yes

#AllowGroups ssh-users              # Allow only members of ssh-users group

#DenyGroups noshell                 # Deny members of noshell groupMaxAuthTries 3# For changes to take effect, run:# default value.# default value.



# Additional Security SettingsMaxSessions 2

PermitUserEnvironment no    # Don't allow user environment variables

UsePAM yes                  # Use PAM for additional authentication methodsMaxStartups 2:30:5#

UseDNS no                   # Skip DNS lookups for faster connections

PrintMotd no                # Don't print message of the day

PrintLastLog yes            # Show last login information

#PubkeyAuthentication yes#   systemctl daemon-reload

# Banner Configuration (Ubuntu: "display banner for legal notices")

# Uncomment to enable login banner:#AuthorizedKeysFile .ssh/authorized_keys .ssh/authorized_keys2

#Banner /etc/issue.net      # Ubuntu: "display legalese to scare novice attackers"

#AuthorizedPrincipalsFile none#   systemctl restart ssh.socket

# Subsystems

Subsystem sftp /usr/lib/openssh/sftp-server#AuthorizedKeysCommand none



# Client Connection Settings#AuthorizedKeysCommandUser nobodyInclude /etc/ssh/sshd_config.d/*.confInclude /etc/ssh/sshd_config.d/*.conf

ClientAliveInterval 300     # Send keepalive every 5 minutes

ClientAliveCountMax 2       # Disconnect after 2 missed keepalives (10 minutes total)

TCPKeepAlive yes           # Use TCP keepalive

# For this to work you will also need host keys in /etc/ssh/ssh_known_hostsPort 2222

# Compression

Compression delayed         # Enable compression after authentication#HostbasedAuthentication no



# Advanced Security Features#IgnoreUserKnownHosts noAddressFamily inet

VersionAddendum none        # Don't advertise SSH version details

DebianBanner no            # Don't show Debian/Ubuntu banner#IgnoreRhosts yes

#ListenAddress 0.0.0.0

# Security hardening - disable password authentication

PasswordAuthentication no#ListenAddress ::# When systemd socket activation is used (the default), the socket# When systemd socket activation is used (the default), the socket

PermitEmptyPasswords no

PubkeyAuthentication yes

KbdInteractiveAuthentication no

ChallengeResponseAuthentication no#HostKey /etc/ssh/ssh_host_rsa_key# configuration must be re-generated after changing Port, AddressFamily, or# configuration must be re-generated after changing Port, AddressFamily, or



# Kerberos options#HostKey /etc/ssh/ssh_host_ecdsa_key

#KerberosAuthentication no

#KerberosOrLocalPasswd yes#HostKey /etc/ssh/ssh_host_ed25519_key# ListenAddress.# ListenAddress.

#KerberosTicketCleanup yes



# GSSAPI options

#GSSAPIAuthentication no# Ciphers and keying##

#GSSAPICleanupCredentials yes

#GSSAPIStrictAcceptorCheck yes#RekeyLimit default none

#GSSAPIKeyExchange no

# For changes to take effect, run:# For changes to take effect, run:

#UsePAM yes

# Logging

# Security hardening options

X11Forwarding no#SyslogFacility AUTH##

AllowAgentForwarding no

AllowTcpForwarding no#LogLevel INFO

PermitTunnel no

PermitUserEnvironment no#   systemctl daemon-reload#   systemctl daemon-reload

PrintMotd yes

PrintLastLog yes# Authentication:

TCPKeepAlive yes

Compression noLoginGraceTime 1m#   systemctl restart ssh.socket#   systemctl restart ssh.socket

ClientAliveInterval 300

ClientAliveCountMax 2PermitRootLogin no

UseDNS no

GatewayPorts noStrictModes yes



# Protocol and cipher hardeningMaxAuthTries 3

Protocol 2

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctrMaxSessions 2Port 2222Port 2222

MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256,hmac-sha2-512

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512MaxStartups 2:30:5



# User restrictions (replace 'admin' with your actual admin username)AddressFamily inetAddressFamily inet

AllowUsers admin

DenyUsers root#PubkeyAuthentication yes



#Banner none#Expect .ssh/authorized_keys2 to be disregarded by default in future.#ListenAddress 0.0.0.0#ListenAddress 0.0.0.0



# Allow client to pass locale environment variables#AuthorizedKeysFile      .ssh/authorized_keys .ssh/authorized_keys2

AcceptEnv LANG LC_*

# #ListenAddress ::# #ListenAddress ::

# override default of no subsystems

Subsystem sftp /usr/lib/openssh/sftp-server#AuthorizedPrincipalsFile none



#Match User anoncvsAuthorizedPrincipalsFile no

#       AllowTCPForwarding no

#       PermitTTY no

#       ForceCommand cvs server
#AuthorizedKeysCommand none#HostKey /etc/ssh/ssh_host_rsa_key#HostKey /etc/ssh/ssh_host_rsa_key

#AuthorizedKeysCommandUser nobody

#HostKey /etc/ssh/ssh_host_ecdsa_key#HostKey /etc/ssh/ssh_host_ecdsa_key

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts

#HostbasedAuthentication no#HostKey /etc/ssh/ssh_host_ed25519_key#HostKey /etc/ssh/ssh_host_ed25519_key

#IgnoreUserKnownHosts no

#Don't read the user's ~/.rhosts and ~/.shosts files

#IgnoreRhosts yes

# Ciphers and keying# Ciphers and keying

# Security hardening - disable password authentication

PasswordAuthentication no#RekeyLimit default none#RekeyLimit default none

PermitEmptyPasswords no

PubkeyAuthentication yes

KbdInteractiveAuthentication no

ChallengeResponseAuthentication no# Logging# Logging



# Kerberos options#SyslogFacility AUTH#SyslogFacility AUTH

#KerberosAuthentication no

#KerberosOrLocalPasswd yes#LogLevel INFO#LogLevel INFO

#KerberosTicketCleanup yes



# GSSAPI options

#GSSAPIAuthentication no# Authentication:# Authentication:

#GSSAPICleanupCredentials yes

#GSSAPIStrictAcceptorCheck yesLoginGraceTime 1mLoginGraceTime 1m

#GSSAPIKeyExchange no

PermitRootLogin noPermitRootLogin no

# Set this to 'yes' to enable PAM authentication, account processing,

# and session processing. If this is enabled, PAM authentication willStrictModes yesStrictModes yes

# be allowed through the KbdInteractiveAuthentication and

# PasswordAuthentication. Depending on your PAM configuration,MaxAuthTries 3MaxAuthTries 3

# PAM authentication via KbdInteractiveAuthentication may bypass

# the setting of 'PermitRootLogin prohibit-password'MaxSessions 2MaxSessions 2

# If you just want the pam account and session checks to run without

# PAM authentication, then enable this but set PasswordAuthenticationMaxStartups 2:30:5MaxStartups 2:30:5

# and KbdInteractiveAuthentication to 'no'.

#UsePAM yes



# Security hardening options#PubkeyAuthentication yes#PubkeyAuthentication yes

X11Forwarding no

AllowAgentForwarding no#Expect .ssh/authorized_keys2 to be disregarded by default in future.#Expect .ssh/authorized_keys2 to be disregarded by default in future.

AllowTcpForwarding no

PermitTunnel no#AuthorizedKeysFile      .ssh/authorized_keys .ssh/authorized_keys2#AuthorizedKeysFile      .ssh/authorized_keys .ssh/authorized_keys2

PermitUserEnvironment no

PrintMotd yes

PrintLastLog yes

TCPKeepAlive yes#AuthorizedPrincipalsFile noneAuthorizedPrincipalsFile no

Compression no

ClientAliveInterval 300AuthorizedPrincipalsFile no

ClientAliveCountMax 2

UseDNS no#AuthorizedKeysCommand none

GatewayPorts no

#AuthorizedKeysCommand none#AuthorizedKeysCommandUser nobody

# Protocol and cipher hardening

Protocol 2#AuthorizedKeysCommandUser nobody

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256,hmac-sha2-512# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts#HostbasedAuthentication no

# User restrictions (replace 'admin' with your actual admin username)

AllowUsers admin#HostbasedAuthentication no#IgnoreUserKnownHosts no

DenyUsers root

#IgnoreUserKnownHosts no#Don't read the user's ~/.rhosts and ~/.shosts files

# no default banner path

#Banner none#Don't read the user's ~/.rhosts and ~/.shosts files#IgnoreRhosts yes



# Allow client to pass locale environment variables#IgnoreRhosts yes

AcceptEnv LANG LC_*

# Security hardening - disable password authentication

# override default of no subsystems

Subsystem sftp /usr/lib/openssh/sftp-server# Security hardening - disable password authenticationPasswordAuthentication no



#Match User anoncvsPasswordAuthentication noPermitEmptyPasswords no

#       AllowTCPForwarding no

#       PermitTTY noPermitEmptyPasswords noPubkeyAuthentication yes

#       ForceCommand cvs server
PubkeyAuthentication yesKbdInteractiveAuthentication no

KbdInteractiveAuthentication noChallengeResponseAuthentication no

ChallengeResponseAuthentication no

# Kerberos options

# Kerberos options#KerberosAuthentication no

#KerberosAuthentication no#KerberosOrLocalPasswd yes

#KerberosOrLocalPasswd yes#KerberosTicketCleanup yes

#KerberosTicketCleanup yes

# GSSAPI options

# GSSAPI options#GSSAPIAuthentication no

#GSSAPIAuthentication no#GSSAPICleanupCredentials yes

#GSSAPICleanupCredentials yes#GSSAPIStrictAcceptorCheck yes

#GSSAPIStrictAcceptorCheck yes#GSSAPIKeyExchange no

#GSSAPIKeyExchange no

# Set this to 'yes' to enable PAM authentication, account processing,

# Set this to 'yes' to enable PAM authentication, account processing,# and session processing. If this is enabled, PAM authentication will

# and session processing. If this is enabled, PAM authentication will# be allowed through the KbdInteractiveAuthentication and

# be allowed through the KbdInteractiveAuthentication and# PasswordAuthentication. Depending on your PAM configuration,

# PasswordAuthentication. Depending on your PAM configuration,# PAM authentication via KbdInteractiveAuthentication may bypass

# PAM authentication via KbdInteractiveAuthentication may bypass# the setting of 'PermitRootLogin prohibit-password'

# the setting of 'PermitRootLogin prohibit-password'# If you just want the pam account and session checks to run without

# If you just want the pam account and session checks to run without# PAM authentication, then enable this but set PasswordAuthentication

# PAM authentication, then enable this but set PasswordAuthentication# and KbdInteractiveAuthentication to 'no'.

# and KbdInteractiveAuthentication to 'no'.#UsePAM yes

#UsePAM yes

#AllowAgentForwarding yes

# Security hardening options#AllowTcpForwarding yes

X11Forwarding no#GatewayPorts no

AllowAgentForwarding no# Security hardening options

AllowTcpForwarding noX11Forwarding no

PermitTunnel noAllowAgentForwarding no

PermitUserEnvironment noAllowTcpForwarding no

PrintMotd yesPermitTunnel no

PrintLastLog yesPermitUserEnvironment no

TCPKeepAlive yesPrintMotd yes

Compression noPrintLastLog yes

ClientAliveInterval 300TCPKeepAlive yes

ClientAliveCountMax 2Compression no

UseDNS noClientAliveInterval 300

GatewayPorts noClientAliveCountMax 2

UseDNS no

# Protocol and cipher hardeningGatewayPorts no

Protocol 2

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr# Protocol and cipher hardening

MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256,hmac-sha2-512Protocol 2

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256,hmac-sha2-512

# User restrictions (replace 'admin' with your actual admin username)KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512

AllowUsers admin

DenyUsers root# User restrictions (replace 'admin' with your actual admin username)

AllowUsers admin

#PermitTTY yesDenyUsers root

#PrintLastLog yes

#TCPKeepAlive yes# no default banner path

#PermitUserEnvironment no#Banner none

#Compression delayed

#ClientAliveInterval 0# Allow client to pass locale environment variables

#ClientAliveCountMax 3AcceptEnv LANG LC_*

#UseDNS no

#PidFile /run/sshd.pid# override default of no subsystems

#PermitTunnel noSubsystem sftp /usr/lib/openssh/sftp-server

#ChrootDirectory none

#VersionAddendum none#Match User anoncvs

#       AllowTCPForwarding no

# no default banner path#       PermitTTY no

#Banner none#       ForceCommand cvs server

#     ForceCommand cvs server

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem sftp /usr/lib/openssh/sftp-server

#Match User anoncvs
#       AllowTCPForwarding no
#       PermitTTY no
#       ForceCommand cvs server