# sshd_config# sshd_config# sshd_config# sshd_config

# This is the sshd server system-wide configuration file. See

# sshd_config(5) for more information.# This is the sshd server system-wide configuration file. See



# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games# sshd_config(5) for more information.# This is the sshd server system-wide configuration file. See# This is the sshd server system-wide configuration file. See

# The strategy used for options in the default sshd_config shipped with

# OpenSSH is to specify options with their default value where

# possible, but leave them commented. Uncommented options override the

# default value.# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games# sshd_config(5) for more information.# sshd_config(5) for more information.



Include /etc/ssh/sshd_config.d/*.conf# The strategy used for options in the default sshd_config shipped with



Port 2222# OpenSSH is to specify options with their default value where

AddressFamily inet

#ListenAddress 0.0.0.0# possible, but leave them commented. Uncommented options override the

#ListenAddress ::

# default value.# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games# This sshd was compiled with PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games

#HostKey /etc/ssh/ssh_host_rsa_key

#HostKey /etc/ssh/ssh_host_ecdsa_key

#HostKey /etc/ssh/ssh_host_ed25519_key

Include /etc/ssh/sshd_config.d/*.conf# The strategy used for options in the default sshd_config shipped with# The strategy used for options in the default sshd_config shipped with

# Ciphers and keying

#RekeyLimit default none



# Logging# When systemd socket activation is used (the default), the socket# OpenSSH is to specify options with their default value where# OpenSSH is to specify options with their default value where

#SyslogFacility AUTH

#LogLevel INFO# configuration must be re-generated after changing Port, AddressFamily, or



# Authentication:# ListenAddress.# possible, but leave them commented. Uncommented options override the# possible, but leave them commented. Uncommented options override the

LoginGraceTime 1m

PermitRootLogin no#

StrictModes yes

MaxAuthTries 3# For changes to take effect, run:# default value.# default value.

MaxSessions 2

MaxStartups 2:30:5#



#PubkeyAuthentication yes#   systemctl daemon-reload

#AuthorizedKeysFile .ssh/authorized_keys .ssh/authorized_keys2

#AuthorizedPrincipalsFile none#   systemctl restart ssh.socket

#AuthorizedKeysCommand none

#AuthorizedKeysCommandUser nobodyInclude /etc/ssh/sshd_config.d/*.confInclude /etc/ssh/sshd_config.d/*.conf



# For this to work you will also need host keys in /etc/ssh/ssh_known_hostsPort 2222

#HostbasedAuthentication no

#IgnoreUserKnownHosts noAddressFamily inet

#IgnoreRhosts yes

#ListenAddress 0.0.0.0

# Security hardening - disable password authentication

PasswordAuthentication no#ListenAddress ::# When systemd socket activation is used (the default), the socket# When systemd socket activation is used (the default), the socket

PermitEmptyPasswords no

PubkeyAuthentication yes

KbdInteractiveAuthentication no

ChallengeResponseAuthentication no#HostKey /etc/ssh/ssh_host_rsa_key# configuration must be re-generated after changing Port, AddressFamily, or# configuration must be re-generated after changing Port, AddressFamily, or



# Kerberos options#HostKey /etc/ssh/ssh_host_ecdsa_key

#KerberosAuthentication no

#KerberosOrLocalPasswd yes#HostKey /etc/ssh/ssh_host_ed25519_key# ListenAddress.# ListenAddress.

#KerberosTicketCleanup yes



# GSSAPI options

#GSSAPIAuthentication no# Ciphers and keying##

#GSSAPICleanupCredentials yes

#GSSAPIStrictAcceptorCheck yes#RekeyLimit default none

#GSSAPIKeyExchange no

# For changes to take effect, run:# For changes to take effect, run:

#UsePAM yes

# Logging

# Security hardening options

X11Forwarding no#SyslogFacility AUTH##

AllowAgentForwarding no

AllowTcpForwarding no#LogLevel INFO

PermitTunnel no

PermitUserEnvironment no#   systemctl daemon-reload#   systemctl daemon-reload

PrintMotd yes

PrintLastLog yes# Authentication:

TCPKeepAlive yes

Compression noLoginGraceTime 1m#   systemctl restart ssh.socket#   systemctl restart ssh.socket

ClientAliveInterval 300

ClientAliveCountMax 2PermitRootLogin no

UseDNS no

GatewayPorts noStrictModes yes



# Protocol and cipher hardeningMaxAuthTries 3

Protocol 2

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctrMaxSessions 2Port 2222Port 2222

MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256,hmac-sha2-512

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512MaxStartups 2:30:5



# User restrictions (replace 'admin' with your actual admin username)AddressFamily inetAddressFamily inet

AllowUsers admin

DenyUsers root#PubkeyAuthentication yes



#Banner none#Expect .ssh/authorized_keys2 to be disregarded by default in future.#ListenAddress 0.0.0.0#ListenAddress 0.0.0.0



# Allow client to pass locale environment variables#AuthorizedKeysFile      .ssh/authorized_keys .ssh/authorized_keys2

AcceptEnv LANG LC_*

# #ListenAddress ::# #ListenAddress ::

# override default of no subsystems

Subsystem sftp /usr/lib/openssh/sftp-server#AuthorizedPrincipalsFile none



#Match User anoncvsAuthorizedPrincipalsFile no

#       AllowTCPForwarding no

#       PermitTTY no

#       ForceCommand cvs server
#AuthorizedKeysCommand none#HostKey /etc/ssh/ssh_host_rsa_key#HostKey /etc/ssh/ssh_host_rsa_key

#AuthorizedKeysCommandUser nobody

#HostKey /etc/ssh/ssh_host_ecdsa_key#HostKey /etc/ssh/ssh_host_ecdsa_key

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts

#HostbasedAuthentication no#HostKey /etc/ssh/ssh_host_ed25519_key#HostKey /etc/ssh/ssh_host_ed25519_key

#IgnoreUserKnownHosts no

#Don't read the user's ~/.rhosts and ~/.shosts files

#IgnoreRhosts yes

# Ciphers and keying# Ciphers and keying

# Security hardening - disable password authentication

PasswordAuthentication no#RekeyLimit default none#RekeyLimit default none

PermitEmptyPasswords no

PubkeyAuthentication yes

KbdInteractiveAuthentication no

ChallengeResponseAuthentication no# Logging# Logging



# Kerberos options#SyslogFacility AUTH#SyslogFacility AUTH

#KerberosAuthentication no

#KerberosOrLocalPasswd yes#LogLevel INFO#LogLevel INFO

#KerberosTicketCleanup yes



# GSSAPI options

#GSSAPIAuthentication no# Authentication:# Authentication:

#GSSAPICleanupCredentials yes

#GSSAPIStrictAcceptorCheck yesLoginGraceTime 1mLoginGraceTime 1m

#GSSAPIKeyExchange no

PermitRootLogin noPermitRootLogin no

# Set this to 'yes' to enable PAM authentication, account processing,

# and session processing. If this is enabled, PAM authentication willStrictModes yesStrictModes yes

# be allowed through the KbdInteractiveAuthentication and

# PasswordAuthentication. Depending on your PAM configuration,MaxAuthTries 3MaxAuthTries 3

# PAM authentication via KbdInteractiveAuthentication may bypass

# the setting of 'PermitRootLogin prohibit-password'MaxSessions 2MaxSessions 2

# If you just want the pam account and session checks to run without

# PAM authentication, then enable this but set PasswordAuthenticationMaxStartups 2:30:5MaxStartups 2:30:5

# and KbdInteractiveAuthentication to 'no'.

#UsePAM yes



# Security hardening options#PubkeyAuthentication yes#PubkeyAuthentication yes

X11Forwarding no

AllowAgentForwarding no#Expect .ssh/authorized_keys2 to be disregarded by default in future.#Expect .ssh/authorized_keys2 to be disregarded by default in future.

AllowTcpForwarding no

PermitTunnel no#AuthorizedKeysFile      .ssh/authorized_keys .ssh/authorized_keys2#AuthorizedKeysFile      .ssh/authorized_keys .ssh/authorized_keys2

PermitUserEnvironment no

PrintMotd yes

PrintLastLog yes

TCPKeepAlive yes#AuthorizedPrincipalsFile noneAuthorizedPrincipalsFile no

Compression no

ClientAliveInterval 300AuthorizedPrincipalsFile no

ClientAliveCountMax 2

UseDNS no#AuthorizedKeysCommand none

GatewayPorts no

#AuthorizedKeysCommand none#AuthorizedKeysCommandUser nobody

# Protocol and cipher hardening

Protocol 2#AuthorizedKeysCommandUser nobody

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256,hmac-sha2-512# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512

# For this to work you will also need host keys in /etc/ssh/ssh_known_hosts#HostbasedAuthentication no

# User restrictions (replace 'admin' with your actual admin username)

AllowUsers admin#HostbasedAuthentication no#IgnoreUserKnownHosts no

DenyUsers root

#IgnoreUserKnownHosts no#Don't read the user's ~/.rhosts and ~/.shosts files

# no default banner path

#Banner none#Don't read the user's ~/.rhosts and ~/.shosts files#IgnoreRhosts yes



# Allow client to pass locale environment variables#IgnoreRhosts yes

AcceptEnv LANG LC_*

# Security hardening - disable password authentication

# override default of no subsystems

Subsystem sftp /usr/lib/openssh/sftp-server# Security hardening - disable password authenticationPasswordAuthentication no



#Match User anoncvsPasswordAuthentication noPermitEmptyPasswords no

#       AllowTCPForwarding no

#       PermitTTY noPermitEmptyPasswords noPubkeyAuthentication yes

#       ForceCommand cvs server
PubkeyAuthentication yesKbdInteractiveAuthentication no

KbdInteractiveAuthentication noChallengeResponseAuthentication no

ChallengeResponseAuthentication no

# Kerberos options

# Kerberos options#KerberosAuthentication no

#KerberosAuthentication no#KerberosOrLocalPasswd yes

#KerberosOrLocalPasswd yes#KerberosTicketCleanup yes

#KerberosTicketCleanup yes

# GSSAPI options

# GSSAPI options#GSSAPIAuthentication no

#GSSAPIAuthentication no#GSSAPICleanupCredentials yes

#GSSAPICleanupCredentials yes#GSSAPIStrictAcceptorCheck yes

#GSSAPIStrictAcceptorCheck yes#GSSAPIKeyExchange no

#GSSAPIKeyExchange no

# Set this to 'yes' to enable PAM authentication, account processing,

# Set this to 'yes' to enable PAM authentication, account processing,# and session processing. If this is enabled, PAM authentication will

# and session processing. If this is enabled, PAM authentication will# be allowed through the KbdInteractiveAuthentication and

# be allowed through the KbdInteractiveAuthentication and# PasswordAuthentication. Depending on your PAM configuration,

# PasswordAuthentication. Depending on your PAM configuration,# PAM authentication via KbdInteractiveAuthentication may bypass

# PAM authentication via KbdInteractiveAuthentication may bypass# the setting of 'PermitRootLogin prohibit-password'

# the setting of 'PermitRootLogin prohibit-password'# If you just want the pam account and session checks to run without

# If you just want the pam account and session checks to run without# PAM authentication, then enable this but set PasswordAuthentication

# PAM authentication, then enable this but set PasswordAuthentication# and KbdInteractiveAuthentication to 'no'.

# and KbdInteractiveAuthentication to 'no'.#UsePAM yes

#UsePAM yes

#AllowAgentForwarding yes

# Security hardening options#AllowTcpForwarding yes

X11Forwarding no#GatewayPorts no

AllowAgentForwarding no# Security hardening options

AllowTcpForwarding noX11Forwarding no

PermitTunnel noAllowAgentForwarding no

PermitUserEnvironment noAllowTcpForwarding no

PrintMotd yesPermitTunnel no

PrintLastLog yesPermitUserEnvironment no

TCPKeepAlive yesPrintMotd yes

Compression noPrintLastLog yes

ClientAliveInterval 300TCPKeepAlive yes

ClientAliveCountMax 2Compression no

UseDNS noClientAliveInterval 300

GatewayPorts noClientAliveCountMax 2

UseDNS no

# Protocol and cipher hardeningGatewayPorts no

Protocol 2

Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr# Protocol and cipher hardening

MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256,hmac-sha2-512Protocol 2

KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr

MACs hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com,hmac-sha2-256,hmac-sha2-512

# User restrictions (replace 'admin' with your actual admin username)KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512

AllowUsers admin

DenyUsers root# User restrictions (replace 'admin' with your actual admin username)

AllowUsers admin

#PermitTTY yesDenyUsers root

#PrintLastLog yes

#TCPKeepAlive yes# no default banner path

#PermitUserEnvironment no#Banner none

#Compression delayed

#ClientAliveInterval 0# Allow client to pass locale environment variables

#ClientAliveCountMax 3AcceptEnv LANG LC_*

#UseDNS no

#PidFile /run/sshd.pid# override default of no subsystems

#PermitTunnel noSubsystem sftp /usr/lib/openssh/sftp-server

#ChrootDirectory none

#VersionAddendum none#Match User anoncvs

#       AllowTCPForwarding no

# no default banner path#       PermitTTY no

#Banner none#       ForceCommand cvs server

#     ForceCommand cvs server

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem sftp /usr/lib/openssh/sftp-server

#Match User anoncvs
#       AllowTCPForwarding no
#       PermitTTY no
#       ForceCommand cvs server